@model Approval_Chain.Models.RequestModel

@{
    ViewBag.Title = "Employee Request";
}
<div id="chainform">
<h2>Employee Request Form</h2>

@using (Html.BeginForm("ProcessRequest", "Request", FormMethod.Post))
{<div id="ApprovalChain">
    <div id="empemail">
        <label for="EmployeeEmail">Employee Email:</label>
        @Html.TextBoxFor(model => model.EmployeeEmail, new { type = "email", required = "required" })
    </div>
    <div id="topic">
        <br />
        <label for="Topic">Topic:</label>
        @Html.TextBoxFor(model => model.Topic, new { required = "required" })
    </div>
    <div id="approversContainer">
        <br />
        <div>
                <input type="button" id="addapprovers" value="Add Approvers" onclick="addApproverTextBox()" />
        </div>
        <br/>
        <label for="ApproverEmail">Approver Email:
            @Html.TextBoxFor(model => model.ApproverEmail, new { type = "email", required = "required" })
        </label>
        <br />
    </div>
    
    <div > 
        <br/>
            <input type="submit" id="submitbtn" value="Submit Request" />
    </div>
</div>
}
</div>
@section scripts {
    <script>
        function addApproverTextBox() {
            var container = document.getElementById("approversContainer");
            var newTextBox = document.createElement("input");
            newTextBox.type = "email";
            newTextBox.name = "ApproverEmails";
            newTextBox.placeholder = "Enter Approver Email";
            newTextBox.required = true;
            container.appendChild(document.createElement("br")); 
            container.appendChild(newTextBox);
            container.appendChild(document.createElement("br"));
        }
    </script>
}
